@font-face {
  font-family: sspb;
  src: url("/fonts/SourceSansPro-Bold.otf");
  font-display: swap;
}

@font-face {
  font-family: ssp;
  src: url("/fonts/SourceSansPro-Regular.otf");
  font-display: swap;
}

.root {
  display: grid;
  place-items: center;

  min-height: 85vh;

  font-family: ssp;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: none;
  z-index: 999;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 40px;
  min-width: 300px;
  max-width: 350px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.219);

  font-family: ssp;
}

.Modal:focus {
  outline: 0;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  -webkit-backdrop-filter: blur(2.3px);
  backdrop-filter: blur(2.3px);
  background-color: #7070702a;
  z-index: 999;
}

@supports not (backdrop-filter: none) {
  .Overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}

.table {
  width: 70%;
  min-width: 450px;
}

.tableHeader {
}

.tableBody {
}

.btnDiv {
}

.btn {
  font-family: ssp;
}

.placeOrderBtn {
  background-color: greenyellow;
}

.innerButton {
  margin: 10px;
}

.price {
  text-align: right;
  font-size: 35px;
  font-family: sspb;

  padding: 10px 30px;
}
