.root {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 170px;
  height: 130px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.root div {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: dodgerblue;
  animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
}

.root div:nth-child(2) {
  animation-delay: 0.1s;
  opacity: 0.8;
}

.root div:nth-child(3) {
  animation-delay: 0.2s;
  opacity: 0.6;
}

.root div:nth-child(4) {
  animation-delay: 0.3s;
  opacity: 0.4;
}

@keyframes bouncer {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-105px);
  }
}
