@font-face {
  font-family: ssp;
  src: url("/fonts/SourceSansPro-Bold.otf");
  font-display: swap;
}
@font-face {
  font-family: "Georgia_Bold";
  src: url("/fonts/SourceSansPro-Bold.otf");
  font-display: swap;
}

.root {
  width: 120px;
  min-height: 91vh;

  background-color: #333333;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main {
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  outline: none !important;
  text-decoration: none !important;

  /* background-color: #1c1e36; */
  /* background-color: #1c1e36; */
}

.iconDiv {
  color: #a6a39f;
}

.textDiv {
  color: #a6a39f;
  font-family: ssp;
}

.logout {
  margin-top: auto;
}

.main:hover div {
  color: white;
  cursor: pointer;
}

.main:hover {
  background-color: #1c1e36;

  transition: ease-in-out 200ms;
}
